:root {
  --bg-color: #6f3d10;
  --bg-collapsed-color: #b39c87;
  --bg-gradient-color: linear-gradient(235deg, #6f3d10 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%);
  --main-color: #6f3d10;
  --link-color: #6f3d10;
  --link-hover-color: #ffa600;
}
.fontTitle {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 80px;
}
.fontMain {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 30px;
}
.background {
  background: var(--bg-color);
  background: var(--bg-gradient-color);
}
* {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  padding-inline-start: 0;
}
img {
  width: 100%;
  height: auto;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.info_box {
  position: relative;
  background: var(--bg-color);
  background: var(--bg-gradient-color);
  border-radius: 30px;
  box-sizing: border-box;
  padding: 50px;
}
.info_box:before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--bg-color);
  background: var(--bg-gradient-color);
  border-radius: 50%;
  transform: translate(50px, -50px);
}
.info_box .text {
  max-width: 100%;
}
.info_box .text .title {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 80px;
  margin-bottom: 30px;
}
.info_box .text .contacts,
.info_box .text .student_work {
  text-align: right;
}
.info_box .text .contacts ul,
.info_box .text .student_work ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.info_box .text .contacts li,
.info_box .text .student_work li {
  margin-right: 20px;
}
.info_box .text .contacts li .fab,
.info_box .text .contacts li .fas {
  font-size: 20px;
}
.info_box .text .contacts li a,
.info_box .text .student_work li a {
  text-decoration: none;
  transition: 300ms ease-in-out all;
  color: var(--main-color);
}
.info_box .text .contacts li a:hover {
  color: var(--link-hover-color);
  transition: 300ms ease-in-out all;
}
.info_box .text .student_work li a:hover {
  opacity: 0.5;
  transition: 300ms ease-in-out all;
}
.info_box .text .contacts li:last-child,
.info_box .text .student_work li:last-child {
  margin-right: 0;
}
.info_box .text .contacts li:last-child:before,
.info_box .text .student_work li:last-child:before {
  display: none;
}
.info_box .image {
  max-width: 30%;
  float: right;
  margin-left: 50px;
}
.info_box .image img {
  border-radius: 20px;
}
@media only screen and (max-width: 960px) {
  .info_box .image {
    max-width: 40%;
  }
  .info_box .text .title {
    font-size: 70px;
  }
  * {
    font-size: 28px;
  }
}
@media only screen and (max-width: 768px) {
  * {
    font-size: 20px;
  }
  .info_box .text .title {
    font-size: 45px;
  }
}
@media only screen and (max-width: 640px) {
  .info_box .image {
    max-width: 50%;
  }
  .info_box .text .title {
    font-size: 42px;
  }
  * {
    font-size: 18px;
  }
}
@media only screen and (max-width: 530px) {
  .info_box .image {
    float: initial;
    max-width: 80%;
    margin: 0 auto;
  }
  .info_box .text .title {
    margin-top: 30px;
  }
  .info_box .text .student_work,
  .info_box .text .contacts {
    text-align: center;
  }
  .info_box .text .student_work ul,
  .info_box .text .contacts ul {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .info_box .text .student_work li,
  .info_box .text .contacts li {
    margin-right: 0;
  }
  .info_box .text .student_work li:before,
  .info_box .text .contacts li:before {
    display: none;
  }
  .description {
    margin-bottom: 20px;
  }
  .info_box .text .contacts {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 380px) {
  .info_box .image {
    max-width: 100%;
  }
}

.description a {
  transition: 300ms ease-in-out all;
  color: var(--link-color);
  text-decoration: none;
}

.description a:hover {
  transition: 300ms ease-in-out all;
  color: var(--link-hover-color);
  text-decoration: solid;
}

/* Bootstrap Accordeon styles */
.accordion-button {
  color: var(--main-color);
  background-color: var(--bg-collapsed-color);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button:focus {
  border-color: none;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: var(--main-color);
  background-color: var(--bg-collapsed-color);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-body {
  background: var(--bg-collapsed-color);
}
.accordion-button::after {
  width: 0.7rem;
  height: 0.7rem;
  background-image: none;
  border-left: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  transform: rotate(-45deg) translate(3px, -7px);
}
.accordion-button:not(.collapsed)::after {
  background-image: none;
  transform: rotate(135deg);
  opacity: .3;
}
.accordion-button:not(.collapsed) {
  background: var(--bg-collapsed-color);
  color:rgb(77, 43, 14);
  -webkit-box-shadow: 0px 22px 30px -24px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 22px 30px -24px rgba(0,0,0,0.75);
  box-shadow: 0px 22px 30px -24px rgba(0,0,0,0.75);
}
.accordion-body ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}
.accordion-body ul li {
  transition: all 300ms ease-in-out;
}
.accordion-body ul li:hover {
  transition: all 300ms ease-in-out;
  transform: scale(1.08);
  -webkit-box-shadow: 0px 5px 24px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 24px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 24px -6px rgba(0,0,0,0.75);
}

@media only screen and (max-width: 720px) {
  .accordion-body ul {
    grid-template-columns: 1fr;
    row-gap: 20px;
    column-gap: 20px;
  }
}